body {
    font-family: 'Poppins', sans-serif;
}
/* LOGO SPACE */ 
.box-logo {
    width: 100%;
    background-color: rgb(255, 255, 255); 
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 80px;   
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(230, 230, 230);
    
} 
.text-logo { 
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 0); 
} 
/* MENU */  

.menu { 
    width: 100%; 
    display: flex; 
    justify-content: space-evenly; 
} 
    
    
    
    
    
     
.text-menu{
    color: rgb(255, 255, 255); 
    font-weight: 600;
} 
.link-menu{ 
    
    text-decoration: none;
}
.item-button {
    border-radius: 5px;
    margin-left: 10px;
} 
.item-button-whats {
    border-radius: 5px;
    margin-left: 10px;
} 

.button-menu { 
    color: white;
    font-size: 17px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background-color: red;
    padding: 20px;
} 
.button-menu-whats {
    color: white;
    font-size: 17px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background-color: rgb(16, 233, 63);
    padding: 20px; 
}

.button-menu:hover {
    background-color: rgb(212, 1, 1); 
    transform: translateY(-5px);
} 
.button-menu-whats:hover {
    background-color: rgb(11, 161, 44); 
    transform: translateY(-5px);
}
.titulo{   
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    display: flex; 
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px; 
    border-bottom: 2px solid rgb(255, 20, 20); 
} 
    
    
.promocoes{
    font-size: 20px; 
    font-weight: 600;
}
.box { 
    width: 100%; 
    display: flex;
    flex-wrap:nowrap;
} 
    
.box-pizza {
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    margin: 10px;  
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    
} 
span {
    color: grey;
    font-weight: 500;
    margin-left: 10px; 
    
} 
p {
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-left: 10px; 
    margin-top: 20px; 
}
img {
    border-bottom: 1px solid rgb(214, 214, 214);
    background-color: grey;
    width: 100%;
} 
@media (max-width:472px) {
    
    .box-logo { 
        width: 100%;
    } 
        
    .button-menu { 
        margin-top: 10px;
        font-size: 10px;
    } 
    .button-menu-whats {  
        text-align: center;
        margin-top: 10px;
        font-size: 10px;
        height: 85%;
    }  
    .menu { 
      width: 100%;  
    }  
        
    .titulo {
        width: 30%; 
        
    }  
    img {
        width: 100%;
    }
    .box { 
        display: flex;
        width: 100%;
        flex-wrap: wrap; 
        justify-content: center;
    } 
        
    .box-pizza {  
        display: flex; 
        flex-direction: column;
        align-items: flex-start; 
        width: 80%; 
        height: 50%;
    } 
    p , span {
        font-size: 15px; 
        margin-left: 10px;
        margin-bottom: 10px;
    } 
    
    
}
        

    
    


    
    
    



    
